In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame

In [2]:
df = pd.read_csv('Produtos.csv', header=None)
df.replace(np.nan, 0, inplace = True)
dataset = df.values
print (dataset)
len(dataset)

[['café' 'pao' 'manteiga' 0]
 ['leite' 'cerveja' 'pao' 'manteiga']
 ['café' 'pao' 'manteiga' 0]
 ['leite' 'café' 'pao' 'manteiga']
 ['cerveja' 0 0 0]
 ['manteiga' 0 0 0]
 ['pao' 0 0 0]
 ['feijao' 0 0 0]
 ['arroz' 'feijao' 0 0]
 ['arroz' 0 0 0]]

10

In [3]:
frame = DataFrame(dataset)
frame

          0        1         2         3
0      café      pao  manteiga         0
1     leite  cerveja       pao  manteiga
2      café      pao  manteiga         0
3     leite     café       pao  manteiga
4   cerveja        0         0         0
5  manteiga        0         0         0
6       pao        0         0         0
7    feijao        0         0         0
8     arroz   feijao         0         0
9     arroz        0         0         0

# Definindo Ponto de Support Threshold

In [4]:
suporte = 0.2

In [5]:
qtdTransacoes = len(dataset)
qtdTransacoes

10

# Lista de Itens

In [6]:
listaDeItens = []

for i in range(len(dataset)):
        for j in range(len(dataset[i])):
                if(dataset[i][j] not in listaDeItens):
                    listaDeItens.append(dataset[i][j])

In [7]:
listaDeItens

['café', 'pao', 'manteiga', 0, 'leite', 'cerveja', 'feijao', 'arroz']

In [8]:
listaDeItens.remove(0)

In [9]:
listaDeItens

['café', 'pao', 'manteiga', 'leite', 'cerveja', 'feijao', 'arroz']

# Contando Frequência dos itens

In [10]:
frenquenciaPorItem = {}

for item in listaDeItens:
    frequencia = 0
    for i in range(len(dataset)):
        if(item in dataset[i]):
            frequencia += 1
    frenquenciaPorItem[item] = frequencia
    
print(frenquenciaPorItem)

{'café': 3, 'pao': 5, 'manteiga': 5, 'leite': 2, 'cerveja': 2, 'feijao': 2, 'arroz': 2}

# Exclusão com base no ponto de suporte

In [11]:
supportThreshold = len(dataset) * suporte
print("Support Threshold number: ", supportThreshold)

Support Threshold number:  2.0

In [12]:
superaSuporte = {}


for key, value in frenquenciaPorItem.items():
    if(value > supportThreshold):
        superaSuporte[key]= value
        
superaSuporte

{'café': 3, 'pao': 5, 'manteiga': 5}

In [13]:
frame

          0        1         2         3
0      café      pao  manteiga         0
1     leite  cerveja       pao  manteiga
2      café      pao  manteiga         0
3     leite     café       pao  manteiga
4   cerveja        0         0         0
5  manteiga        0         0         0
6       pao        0         0         0
7    feijao        0         0         0
8     arroz   feijao         0         0
9     arroz        0         0         0

# Comparação com 2 produtos

In [14]:
def is_in_array(item1, item2, tocheck):
    for i in range(len(tocheck)):
        if item1 in tocheck[i] and item2 in tocheck[i]:
            return True
    return False

itemFrequency = []

for item1 in listaDeItens:
    for item2 in listaDeItens:
        if(item1 == item2):
            continue
        frequency = 0
        isIn = is_in_array(item1, item2, itemFrequency)
        if (isIn):
            continue
        for i in range(len(dataset)):
            if(item1 in dataset[i] and  item2 in dataset[i]):
                frequency += 1
        itemFrequency.append([item1,item2,frequency])
    
print(itemFrequency)

[['café', 'pao', 3], ['café', 'manteiga', 3], ['café', 'leite', 1], ['café', 'cerveja', 0], ['café', 'feijao', 0], ['café', 'arroz', 0], ['pao', 'manteiga', 4], ['pao', 'leite', 2], ['pao', 'cerveja', 1], ['pao', 'feijao', 0], ['pao', 'arroz', 0], ['manteiga', 'leite', 2], ['manteiga', 'cerveja', 1], ['manteiga', 'feijao', 0], ['manteiga', 'arroz', 0], ['leite', 'cerveja', 1], ['leite', 'feijao', 0], ['leite', 'arroz', 0], ['cerveja', 'feijao', 0], ['cerveja', 'arroz', 0], ['feijao', 'arroz', 1]]

In [15]:
duoSuperaSuporte = []


for i in range(len(itemFrequency)):
    if(itemFrequency[i][2] > supportThreshold):
        duoSuperaSuporte.append(itemFrequency[i])
print (duoSuperaSuporte)

[['café', 'pao', 3], ['café', 'manteiga', 3], ['pao', 'manteiga', 4]]

In [16]:
for item in duoSuperaSuporte:
    valor = frenquenciaPorItem[item[0]]
    confiance = item[2]/valor
    print ("confiança de quem comprou ", item[0], " em comprar ", item[1], " = ", confiance)

confiança de quem comprou  café  em comprar  pao  =  1.0
confiança de quem comprou  café  em comprar  manteiga  =  1.0
confiança de quem comprou  pao  em comprar  manteiga  =  0.8

# Outra Forma

In [17]:
from mlxtend.preprocessing import TransactionEncoder

In [18]:
def removeZeros(lista, valor):
    return list(filter(lambda x: x != valor, lista))

In [19]:
listaTransacoes = []

for index, row in df.iterrows():
    listaTransacaoUnica = row.values.tolist()
    listaTransacaoUnica = removeZeros(listaTransacaoUnica, 0)
    listaTransacoes.append(listaTransacaoUnica)


print(listaTransacoes)

[['café', 'pao', 'manteiga'], ['leite', 'cerveja', 'pao', 'manteiga'], ['café', 'pao', 'manteiga'], ['leite', 'café', 'pao', 'manteiga'], ['cerveja'], ['manteiga'], ['pao'], ['feijao'], ['arroz', 'feijao'], ['arroz']]

In [21]:
tr = TransactionEncoder()

trNovo = tr.fit(listaTransacoes).transform(listaTransacoes)
df = pd.DataFrame(trNovo, columns=tr.columns_)

df.head()

   arroz   café  cerveja  feijao  leite  manteiga    pao
0  False   True    False   False  False      True   True
1  False  False     True   False   True      True   True
2  False   True    False   False  False      True   True
3  False   True    False   False   True      True   True
4  False  False     True   False  False     False  False

In [26]:
from mlxtend.frequent_patterns import apriori, association_rules

frequente_itens = apriori(df, min_support = 0.01, use_colnames = True)
frequente_itens.sort_values(by=['support'], ascending = False).head(10)

    support               itemsets
5       0.5             (manteiga)
6       0.5                  (pao)
16      0.4        (pao, manteiga)
9       0.3       (manteiga, café)
19      0.3  (pao, manteiga, café)
1       0.3                 (café)
10      0.3            (pao, café)
15      0.2           (pao, leite)
14      0.2      (manteiga, leite)
0       0.2                (arroz)

In [27]:
from mlxtend.frequent_patterns import association_rules

rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.3)
rules.sort_values(by=['lift'], ascending = False).drop(['antecedent support', 'consequent support', 'leverage', 'conviction'], axis=1)

            antecedents               consequents  support  confidence  lift
37              (leite)       (manteiga, cerveja)      0.1         0.5  5.00
42              (leite)            (pao, cerveja)      0.1         0.5  5.00
73              (leite)  (pao, manteiga, cerveja)      0.1         0.5  5.00
35  (manteiga, cerveja)                   (leite)      0.1         1.0  5.00
71  (manteiga, cerveja)              (pao, leite)      0.1         1.0  5.00
..                  ...                       ...      ...         ...   ...
17           (manteiga)                     (pao)      0.4         0.8  1.60
16                (pao)                (manteiga)      0.4         0.8  1.60
46            (cerveja)           (pao, manteiga)      0.1         0.5  1.25
10            (cerveja)                (manteiga)      0.1         0.5  1.00
11            (cerveja)                     (pao)      0.1         0.5  1.00

[75 rows x 5 columns]